@using DesignPatterns.Application.FactoryMethod;
@using DesignPatterns.Application.FactoryMethod.Products;
@model FactoryMethodPattern;

<h1>Factory Method</h1>

<p>Create receptionist... @{ var receptionist = Model.GetEmployeeFactory("receptionist").CreateEmployee() as Receptionist;}</p>
<p>Created receptionist @receptionist!.Name @receptionist.Surname </p>
<br />
<p>Create specialist... @{ var specialist = Model.GetEmployeeFactory("specialist").CreateEmployee() as Specialist; }</p>
<p>Created specialist @specialist!.Name @specialist.Surname </p>
<br />
<p>Do some work!</p>
<p>@receptionist.Name: @receptionist.Work()</p>
<p>@specialist.Name: @specialist.Work()</p>


